*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.menu-list{
    max-width: 1240px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 10px;
    justify-content: center;
    padding: 20px;
}

.menu-item-card{
    width:250px;
    height: 350px;
    border-radius: 20px;
    background: rgba(239, 243, 239, 0.692);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.534);
    align-items: center;
    overflow: hidden;
    margin: 0;
}


.menu-img-div{
    width:250px;
    height: 180px;
    overflow: hidden;
    flex-shrink: 0;
}

.item-img{
    width: 100%;
    height:100%;
    object-fit: cover;
    object-position: center;
}

.menu-item-card .card-content{
    margin: 5px;
    display:flex;
    height: 125px;
    flex-direction: column;
}

#item-description{
    display: block;
    overflow: scroll;
    scrollbar-width: none;
    width: 100%;
    line-height: 15px;
    word-wrap:break-word ;
    white-space: normal;
    font-size: 10px;
    font-weight: 400;
    color: #888585;
    padding: 5px 0;
}

#price{
    font-size: x-small;
    font-weight: 700;
    padding: 2px 0 4px 0;
}

.rating{
    font-size: 11px;
    font-weight: 500;
    padding: 2px 0;
}

#rating{
    padding-bottom: 2px;
    color: green;
    font-size: 12px;
    line-height: 10px;
}

.button-container{
    display: flex;
    margin-right:10px;
    justify-content: end;
}

.add-button{
    width: 50px;
    height: 25px;
    background-color: #12af6e;
    border: none;
    border-radius: 10px;
    color: whitesmoke; 
}

.add-button:hover{
    background-color:#0b6842;
    transition: background-color 0.4s ease-out;
}

.counter-controls{
    display: flex;
    justify-content: space-around;
    width: 50px;
    height: 25px;
    background-color: #12af6e;
    border: none;
    border-radius: 10px;
    color: whitesmoke; 
}

.counter-controls:hover{
    background-color:#0b6842;
    transition: background-color 0.4s ease-out;

}

.counter-controls .counter-button{
    border: none;
    width: 20px;
    height: 20px;
    background-color: #12af6e00;
    color: whitesmoke;
    line-height: 10px;
    vertical-align: middle;
    margin: 2px 0;
    border-radius: 5px;
    font-size: medium;
}

.counter-display{
    font-size: small;
    font-weight: 600;
    line-height: 22px;
    margin: 0 5px;
}